.tier {
    width: 10%;
    /* outline-width: 2px; */
    border-radius: 10px;
    /* outline-style: solid; */
    object-fit: contain;
    padding: 0px;
    /* background-color: rgba(69, 65, 65, 0.358); */
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 4px;
    font-weight: 300;
}

.tier:hover {
    background-color: rgba(69, 65, 65, 0.358);
}

.selected {
    background-color: rgba(157, 150, 150, 0.528);
}

.selected:hover {
    background-color: rgba(157, 150, 150, 0.528);
}

.tier img {
    aspect-ratio: 1 / 1;
    margin: 0 auto 4px 0;
    display: block;
    width: 100%;
    overflow: hidden;
    /* margin: 0px; */
  }
  .tier-name {
    padding-top: 5px;
  }

@media screen and ((max-height: 400px) or (max-width: 400px)) {
    .tier {
        font-size: 4px;
    }
}

@media screen and (min-height: 400px) and (min-width: 400px) {
    .tier {
        font-size: 8px;
    }
}

@media screen and (max-height: 515px) and (min-height: 400px) and (max-width: 515px) and (min-width: 400px) {
    .tier {
        font-size: 8px;
    }
}

@media screen and ((min-height: 515px) and (min-width:515px)) {
    .tier {
        font-size: 0.6em;
    }
}