.champions-container {
    /* aspect-ratio: 3.18867924528/ 1; */
    display: flex;
    max-width: 100%;
    width: 100%;
    /* width: 100%; */
    /* background-color: blue; */
    /* max-height: 20%; */
    /* max-height: 100%; */
    justify-content: space-around;
    /* flex: 1; */
}