.win-or-load {
    position: absolute;
    bottom: -5vh;
    /* margin-top: 2vh; */
    width: 100%;
    text-align: center;
    /* margin-bottom: 2vh; */
}

.loading-text {
    /* width: 100%; */
    text-align: center;
    color: #C8AA6E;
}

.error-text {
    text-align: center;
    color: #f74610;
}