.champion_picker_container {
    width: fit-content; 
    height: 100%; 
    padding: 0px;
    color:black;
    background-color: #091428;  
    object-fit: contain;
    /* background-image: url("/images/background.png"); */
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: scroll;
}

.champion-border-module::-webkit-scrollbar {
    display: none;
}

.overflow-scroll {
    overflow: scroll;
    max-height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    /* background-color: green; */
}

.overflow-hidden {
    overflow: hidden;
}


.champion_choose > *:hover {
    cursor: pointer;
}

.champion_picker_container img {
    /* aspect-ratio: 1 / 1.81818181818; */
    display: block;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
  }

/* .safari-width {
    width: 17%;
} */

.safari-container {
    /* width: 17%; */
    max-height: 100%;
}

.module-aspect-ratio {
    aspect-ratio: 1 / 1.81818181818;
}


.champion-border-module {
    /* aspect-ratio: 1 / 1.81818181818; */
    max-width: min(17%, fit-content);
    /* min-width:5%; */
    width: 17%;
    max-height: min(100%, fit-content); 
    /* max-height: min(100%, );  */
    padding: 1rem;
    position: relative;
    overflow: hidden;
    padding: 3px;
    display: flex;
}

.red-style {
    background: linear-gradient(to top, #932402, #f74610);
}

.blue-style {
    background: linear-gradient(to top, #005A82, #0397AB);
}


.champion-input {
    position: sticky;
    top: 2px;
    margin: 0px 2px 0 2px;
    width: 100%;
    background-color: #005b8200;
    border: 2px solid  #F0E6D2;
    border-radius: 4px;
    color: white;
    height: fit-content;
}
.champion-input:focus {
    outline: none ;
    border: 2px solid  #C8AA6E;
}

.champion_choose {
    position: relative;
    width: 100%;
    height: fit-content;       
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0px;
    justify-content: space-around;
    gap: 4px;
}

.champion_icon_div {
    aspect-ratio: 1 / 1;
    /* width: 25%; */
    object-fit: contain;
}

@media screen and ((max-width: 650px) or (max-height: 650px)) {
    .champs-icon-width {
        max-width: 45%;
      /* padding-top: 2rem; */
    }
}

@media screen and (min-width: 650px) and (min-height: 650px) {
    .champs-icon-width {
        max-width: 29%;
      /* padding-top: 2rem; */
    }
}

.champion_icon_div img {
    /* display: block; */
    /* height: 100%; */
    width: 100%;
    margin: 0px;
    /* height: fit-content; */
}

.champion-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: fit-content;
}

.plus-sign-div {
    aspect-ratio: 1 / 1;
    /* width: 25%; */
    object-fit: contain;
}

.plus-sign-div img {
     width: 90%;
     margin: 0px;
}

.champion-icon-container:hover {
    background-color: rgba(157, 150, 150, 0.528);
}


.champion-name-text {
    color: #F0E6D2;
    text-align: center;
}

@media screen and ((max-width: 650px) or (max-height: 650px)) {
    .champion-name-text-size {
        font-size: 7px;
    }
}

@media screen and (min-width: 650px) and (min-height: 650px){
    .champion-name-text-size {
        font-size: 7px;
    }
}